.Button:hover {
    cursor: pointer;
}

.Button__primary {
    padding: 10px;
    background-color: #1E5B82;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Button__delete {
    margin: 5px;
    padding: 10px;
    background-color: #DC2626;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Button__edit {
    margin: 5px;
    padding: 10px;
    background-color: #D97706;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}