.App {
  display: flex;
  height: '100%';
  /* Sem essa propriedade abaixo caso a tela seja rolável ficará uma faixa branca */
  min-height: 100vh;
  background-image: url("./assets/images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: flex-start;
}

.App__container {
  background-color: white;
  padding: 50px;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 50px;
}