.DeleteButton {
    margin: 5px;
    padding: 10px;
    background-color: #DC2626;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.DeleteButton:hover {
    cursor: pointer;
}