.Input {
    padding: 10px;
    display: flex;
}

.Input__label {
    padding-right: 10px;
    font-size: 18px;
    flex: 1;
    align-self: center;
}

.Input__input {
    flex: 2;
    border: 1px solid #D6D3D1;
    background-color: #D6D3D1;
    caret-color: #1E5B82;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.Input__validfalse {
    border: 1px solid #DC2626;
    color: red;
}

.Input__statictrue {
    opacity: 50%;
}