.Field__default {
    max-width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    padding: 5px;
    white-space: nowrap;
}

.Field__header{
    display: flex;
    padding: 5px;
    align-items: center;
    color: #1E5B82;
    font-weight: bold;
}